<header class="page-header">
  <div class="wrapper">
    <div class="nav-wrapper">
      <div class="header-inner">
        <a href="https://www.skycoin.net/" class="logo">
          <img src="/assets/img/logo.svg" alt="Skycoin">
        </a>
        <div>
          <button class="menu-toggle-btn menu-show-btn" (click)="toggleMenu(true)"></button>
          <div class="menu-overlay" *ngIf="menuVisible"></div>
          <div class="nav">
            <div class="nav-inner" [class.visible]="menuVisible">
              <button class="menu-toggle-btn menu-hide-btn" (click)="toggleMenu(false)"></button>
              <div class="nav-group">
                <a href="https://www.skycoin.net/downloads/" class="nav-link">Downloads</a>
                <a href="https://www.skycoin.net/ecosystem" class="nav-link">Ecosystem</a>
                <a href="https://www.skycoin.net/skyminer" class="nav-link">Skyminer</a>
                <a href="https://www.skycoin.net/team" class="nav-link">Team</a>
                <a href="https://www.skycoin.net/blog" class="nav-link">Blog</a>
                <a href="/" class="nav-link active">Explorer</a>
                <a href="https://explorer.skycoin.net/api.html" class="nav-link">API docs</a>
              </div>
              <div class="nav-group mobile">
                <a href="https://t.me/Skycoin" target="_blank" class="nav-link">
                  <img src="/assets/img/social/telegram.svg" alt="Telegram">
                  <span>Telegram</span>
                </a>
                <a href="https://discordapp.com" target="_blank" class="nav-link">
                  <img src="/assets/img/social/discord.svg" alt="Discord">
                  <span>Discord</span>
                </a>
              </div>
              <div class="nav-group">
                <a href="https://www.skycoin.net/buy/" class="nav-button">Buy Skycoin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

