@import '../../../../assets/scss/_variables.scss';

.-right-margin {
  padding-right: 150px;

  @media (max-width: $max-xs-width) {
    & {
      padding-right: 0px;
    }
  }
}

.-qr-code {
  height: 1px;
  text-align: right;
}

app-qr-code {
  position: relative;
  top: -131px;
  width: 130px;
  display: inline-block;

  @media (max-width: $max-xs-width) {
    & {
      position: inherit;
      display: block;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: ($max-xs-width+1)) {
  .-tx-number {
    padding-top: 0 !important;
  }
}