<div class="row" *ngIf="transactions">
  <div class="col s8" >
    <div class="card-content" *ngIf="transactions.length>0">
      <ul class="collection">
        <li class="collection-item"><h5>Address: {{ address }}</h5></li>
        <li class="collection-item">Number of transactions: {{transactions.length| number : '1.0-0'}} </li>
        <li class="collection-item">Balance: {{currentBalance| number : '1.0-0'}} SKY</li>
      </ul>
    </div>
  </div>

  <div class="card col s4">
    <!--<qr-code *ngIf="address!=null" [value]="address" [size]="300"></qr-code>-->
    <div class="qr-code" id="qr-code"></div>
    <p class="address-qr">{{ address }}</p>
  </div>
  <div *ngFor="let transaction of transactions">
    <app-transaction-card [transaction]="transaction"></app-transaction-card>
  </div>

</div>

<app-loading [loading]="loading"></app-loading>
