<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/img/logo.svg">
        <a href="mailto:contact@skycoin.net">contact@skycoin.net</a>
      </div>
      <div class="col-sm-3">
        <p>Get Started</p>
        <a href="https://www.skycoin.net/downloads/">Get Wallet</a>
        <a href="https://www.skycoin.net/infographics/">Infographics</a>
        <a href="https://blog.skycoin.net/statement/skycoin-team/">Team</a>
        <a href="https://www.skycoin.net/mailing-list/">Mailing List</a>
        <a href="https://www.skycoin.net/markets/">Markets</a>
        <a href="https://bitcointalk.org/index.php?topic=380441">Bitcointalk ANN</a>
      </div>
      <div class="col-sm-3">
        <p>Explore</p>
        <a href="http://blog.skycoin.net/">Blog</a>
        <a href="https://www.skycoin.net/whitepapers/">Whitepapers</a>
        <a href="http://explorer.skycoin.net/blocks">Blockchain Explorer</a>
        <a href="https://www.skycoin.net/distribution/">Distribution</a>
        <a href="https://www.skycoin.net/roadmap/">Roadmap</a>
        <a href="http://messenger.skycoin.net/">Sky-messenger</a>
        <a href="http://cx.skycoin.net/">CX Playground</a>
      </div>
      <div class="col-sm-3">
        <p>Community</p>
        <a href="https://t.me/skycoinbounty">Bounty Channel</a>
        <a href="https://www.reddit.com/r/SkycoinProject">Reddit</a>
        <a href="https://twitter.com/skycoinproject">Twitter</a>
        <a href="https://github.com/skycoin/skycoin">Github</a>
        <a href="https://t.me/Skycoin">Telegram</a>
        <a href="http://skycoin.herokuapp.com/">Slack</a>
        <a href="https://discord.gg/EgBenrW">Discord</a>
        <a href="https://www.facebook.com/skycoinproject">Facebook</a>
        <a href="https://www.instagram.com/skycoinproject/">Instagram</a>
      </div>
    </div>
  </div>
</footer>
