<footer class="page-footer">
  <div class="wrapper">
    <div class="footer-first-row">
      <a href="/">
        <img src="/assets/img/logoBlueWhite.svg">
      </a>
      <div class="footer-links">
        <a href="https://www.skycoin.net/downloads/">Downloads</a>
        <a href="https://www.skycoin.net/ecosystem">Ecosystem</a>
        <a href="https://www.skycoin.net/skyminer">Skyminer</a>
        <a href="https://www.skycoin.net/team">Team</a>
        <a href="https://www.skycoin.net/blog">Blog</a>
        <a href="/" class="active">Explorer</a>
        <a href="https://explorer.skycoin.net/api.html">API docs</a>
      </div>
    </div>
    <div class="footer-second-row">
      <div class="social-link">
        <a href="/">
          <img alt="" src="/assets/img/social/medium.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://twitter.com/skycoinproject">
          <img alt="" src="/assets/img/social/twitter.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.facebook.com/SkycoinOfficial">
          <img alt="" src="/assets/img/social/facebook.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.instagram.com/skycoinproject/">
          <img alt="" src="/assets/img/social/instagram.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://github.com/skycoin/skycoin">
          <img alt="" src="/assets/img/social/github.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.youtube.com/c/Skycoin">
          <img alt="" src="/assets/img/social/youtube.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.reddit.com/r/skycoin">
          <img alt="" src="/assets/img/social/reddit.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://itunes.apple.com/nl/podcast/skycoin/id1348472259?l=en">
          <img alt="" src="/assets/img/social/apple.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://discord.gg/EgBenrW">
          <img alt="" src="/assets/img/social/discord.svg">
        </a>
      </div>
      <div class="social-link">
        <a href="https://t.me/Skycoin">
          <img alt="" src="/assets/img/social/telegram.svg">
        </a>
      </div>
    </div>
    <div class="footer-third-row">
      <div class="copyright">
        <p>© Skycoin.net 2018</p>
      </div>
      <div class="contact">
        <p>
          <a href="mailto:contact@skycoin.net">contact@skycoin.net</a>
        </p>
      </div>
    </div>
  </div>
</footer>
