footer {
  padding-top: 40px;

  a {
    color: #616d7c;
    display: block;
    font-size: 15px;
    line-height: 28px;
  }

  img {
    height: 40px;
    margin-top: 20px;
  }

  p {
    color: #394049;
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
  }

  padding-bottom: 40px;
}
