# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# compiled binaries
/explorer.*
/dist/vendor.181584baefd2a47c5eda.bundle.js
/dist/styles.ae6e545cc98dafd50e77.bundle.css
/dist/polyfills.f91ce22317a62834b42e.bundle.js
/dist/main.bdb03bfbcc73315b2ac5.bundle.js
/dist/inline.57f1eb8163cece071f2e.bundle.js
dist
