language: go
dist: xenial

go:
  - "1.18.x"

env:
  - SKYCOIN_ADDR=http://172.17.0.2:6420

services:
  - docker

addons:
  chrome: stable

before_install:
  - nvm install 14.15

install:
  - go get -t ./...
  - make install-linters
  - npm install

script:
  - make check
  - make lint-ts
  - make build-ng
  - make check-ui

notifications:
  # https://github.com/kvld/travisci-telegram TravisCI Telegram Bot integration
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify
