<div class="element-details-wrapper">
  <h2>{{ 'unconfirmedTx.title' | translate }}</h2>
  <div class="element-details">
    <div class="-row"><span>{{ 'unconfirmedTx.quantity' | translate }}</span><br class="-xs-only" /><div> {{ transactions ? (transactions.length > 0 ? transactions.length : ('unconfirmedTx.withoutTransactions' | translate)) : loadingMsg }} </div></div>
    <div class="-row"><span>{{ 'unconfirmedTx.size' | translate }}</span><br class="-xs-only" /><div> {{ transactions ? (transactions.length > 0 ? (totalSize | number) + ' bytes' : ('unconfirmedTx.withoutTransactions' | translate)) : loadingMsg }} </div></div>
    <div class="-row"><span>{{ 'unconfirmedTx.newest' | translate }}</span><br class="-xs-only" /><div> <date-formatter *ngIf="transactions && transactions.length > 0" [date]="mostRecent" [dateMultiplier]="1"></date-formatter> <span *ngIf="transactions && transactions.length == 0">{{ 'unconfirmedTx.withoutTransactions' | translate }}</span> <span *ngIf="!transactions">{{ loadingMsg }}</span> </div></div>
    <div class="-row"><span>{{ 'unconfirmedTx.oldest' | translate }}</span><br class="-xs-only" /><div> <date-formatter *ngIf="transactions && transactions.length > 0" [date]="leastRecent" [dateMultiplier]="1"></date-formatter> <span *ngIf="transactions && transactions.length == 0">{{ 'unconfirmedTx.withoutTransactions' | translate }}</span> <span *ngIf="!transactions">{{ loadingMsg }}</span> </div></div>
  </div>
</div>

<app-loading [longErrorMsg]="longErrorMsg" *ngIf="transactions === undefined"></app-loading>

<transaction-info *ngFor="let transaction of transactions" [transaction]="transaction" [unconfirmed]="true"></transaction-info>