<div class="row">
  <div class="col-sm-6 -title">
    <h2>Blocks</h2>
  </div>
  <div class="col-sm-6 -details">
    <p><span class="-label">Block Height:</span> <span class="-value">{{ pageCount | number : '1.0-0' }}</span> </p>
    <p><span class="-label">Current Supply:</span> <span class="-value">{{ currentSupply | number : '1.0-0' }}</span> </p>
    <p><span class="-label">Total Supply:</span> <span class="-value">{{ totalSupply | number : '1.0-0' }}</span> </p>
  </div>
</div>

<div class="-table">
  <div class="-headers">
    <div class="row">
      <div class="col-sm-2">Time</div>
      <div class="col-sm-2">Block Number</div>
      <div class="col-sm-2">Transactions</div>
      <div class="col-sm-6">Blockhash</div>
    </div>
  </div>
  <div class="-body">
    <div class="row" *ngFor="let block of blocks" (click)="open(block)">
      <div class="col-sm-2">{{ block.timestamp }}</div>
      <div class="col-sm-2 -gray">{{ block.id }}</div>
      <div class="col-sm-2 -gray">{{ block.transactions.length }}</div>
      <div class="col-sm-6">{{ block.hash }}</div>
    </div>
  </div>
</div>
