<div class="row">
  <div class="col-sm-6 -title">
    <h2 class="-not-xs">Blocks</h2>
    <h2 class="-xs-only">Stats</h2>
  </div>
  <div class="col-sm-6 -details">
    <p><span><span class="-label">Block Height:</span> <span class="-value">{{ blockCount > 0 ? (blockCount | number : '1.0-0') : loadingMetadataMsg }}</span></span></p>
    <p><span><span class="-label">Current Supply:</span> <span class="-value">{{ currentSupply ? (currentSupply | number : '1.0-0') : loadingCoinSupplyMsg }}</span></span></p>
    <p><span><span class="-label">Total Supply:</span> <span class="-value">{{ totalSupply ? (totalSupply | number : '1.0-0') : loadingCoinSupplyMsg }}</span></span></p>
    <p><span><span class="-label">Current Coinhour Supply:</span> <span class="-value">{{ currentCoinhourSupply ? (currentCoinhourSupply | number : '1.0-0') : loadingCoinSupplyMsg }}</span></span></p>
    <p><span><span class="-label">Total Coinhour Supply:</span> <span class="-value">{{ totalCoinhourSupply ? (totalCoinhourSupply | number : '1.0-0') : loadingCoinSupplyMsg }}</span></span></p>
    <p><a routerLink="/app/unconfirmedtransactions" class="-link">Unconfirmed Transactions</a></p>
    <p><a routerLink="/app/richlist" class="-link">Rich List</a></p>
  </div>
</div>

<h2 class="-xs-only">Blocks</h2>
<div class="table">
  <div class="-header">
    <div class="row">
      <div class="col-sm-2 col-xs-4">Time</div>
      <div class="col-sm-2 col-xs-4">Block Number</div>
      <div class="col-sm-2 col-xs-4">Transactions</div>
      <div class="col-sm-6 -fix-left -not-xs">Blockhash</div>
    </div>
  </div>
  <div class="row -msg-container" *ngIf="!blocks.length">
    <div class="col-sm-12">
      <span *ngIf="!longErrorMsg; else error_msg">
        Waiting for blocks <i class="fa fa-spinner fa-spin fa-fw"></i>
      </span>
      <ng-template #error_msg>{{ longErrorMsg }}</ng-template>
    </div>
  </div>
  <a class="-row" *ngFor="let block of blocks" [routerLink]="'/app/block/' + block.id">
    <div class="row">
      <div class="col-sm-2 col-xs-4">{{ block.timestamp * 1000 | date:'short' }}</div>
      <div class="col-sm-2 col-xs-4 -gray">{{ block.id }}</div>
      <div class="col-sm-2 col-xs-4 -gray">{{ block.transactions.length }}</div>
      <div class="col-sm-6 -fix-left -not-xs">{{ block.hash }}</div>
    </div>
  </a>
</div>

<div class="pagination" *ngIf="blocks && blocks.length > 0">
  <a class="-first" [ngClass]="{ disabled: pageIndex <= 0 }" routerLink="/app/blocks/1">«</a>
  <a class="-previous" [ngClass]="{ disabled: pageIndex <= 0 }" routerLink="/app/blocks/{{ pageIndex > 0 ? pageIndex : 1}}">‹</a>
  <a class="-page -hide-xs" *ngIf="pageIndex > 1" routerLink="/app/blocks/{{pageIndex - 1}}">{{ pageIndex - 1 }}</a>
  <a class="-page" *ngIf="pageIndex > 0" routerLink="/app/blocks/{{pageIndex}}">{{ pageIndex }}</a>
  <a class="-page disabled">{{ pageIndex + 1 }}</a>
  <a class="-page" *ngIf="pageIndex < pageCount - 1" routerLink="/app/blocks/{{pageIndex + 2}}">{{ pageIndex + 2 }}</a>
  <a class="-page -hide-xs" *ngIf="pageIndex < pageCount - 2" routerLink="/app/blocks/{{pageIndex + 3}}">{{ pageIndex + 3 }}</a>
  <a class="-next" [ngClass]="{ disabled: pageIndex >= pageCount - 1 }" routerLink="/app/blocks/{{ pageIndex + 2 < pageCount ? pageIndex + 2 : pageCount }}">›</a>
  <a class="-last" [ngClass]="{ disabled: pageIndex >= pageCount - 1 }" routerLink="/app/blocks/{{ pageCount }}">»</a>
</div>
