<div>
  <div class="language-button" (click)="langsButtonClick()">
    <img [src]="language ? ('assets/img/lang/' + language.iconName) : ''" class="flag-img" />
    <img src="/assets/img/arrow.png" class="arrow-img" />
  </div>
  <div [ngClass]="showLangs ? 'dropdown-menu open' : 'dropdown-menu'">
    <div *ngFor="let lang of langs" class="dropdown-item" (click)="changeLanguage(lang)">
      <img [src]="'/assets/img/lang/' + lang.iconName" class="small-flag-img" />
      {{ lang.name }}
    </div>
  </div>
</div>
