@font-face {
  font-family: 'SkycoinLight';
  src: url('./fonts/skycoin/skycoin-light-webfont.woff2') format('woff2'),
  url('./fonts/skycoin/skycoin-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSansBold';
  src: url('./fonts/skycoin/skycoin-bold-webfont.woff2') format('woff2'),
  url('./fonts/skycoin/skycoin-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSans';
  src: url('./fonts/skycoin/skycoin-regular-webfont.woff2') format('woff2'),
  url('./fonts/skycoin/skycoin-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSansBoldItalic';
  src: url('./fonts/skycoin/skycoin-bold-italic-webfont.woff2') format('woff2'),
  url('./fonts/skycoin/skycoin-bold-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSansItalic';
  src: url('./fonts/skycoin/skycoin-regular-italic-webfont.woff2') format('woff2'),
  url('./fonts/skycoin/skycoin-regular-italic-webfont.woff') format('woff');
}

h1, h2, h3, h4, h5, h6, p, a, body, div {
  font-family: 'SkycoinSans', Verdana, sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  word-wrap: break-word;
  font-family: 'SkycoinSans', Verdana, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 3.2rem;
  box-sizing: content-box;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  text-decoration: none;
}
.wrap{
  word-break: break-all;
}

/**
Style Helpers
 */
.gutter-left {
  margin-left: -7.5px;
  padding-left: 15px;
}

.gutter-right {
  margin-right: -7.5px;
  padding-right: 15px;
}
