<script src="../../../../typings.d.ts"></script>
<div class="container">
  <h2>Block Details</h2>
  <div class="block-details">
    <div class="-row"><span>Height</span> {{ block ? block.id : loadingMsg }} </div>
    <div class="-row"><span>Timestamp</span> {{ block ? ((block.timestamp * 1000) | date: 'short') : loadingMsg }} </div>
    <div class="-row"><span>Hash</span> <a [routerLink]="'/app/block/' + block.id" class="-link" *ngIf="block">{{ block.hash }}</a> <span *ngIf="!block">{{ loadingMsg }}</span> </div>
    <div class="-row"><span>Parent Hash</span> <a [routerLink]="'/app/block/' + (block.id-1)" class="-link" *ngIf="block && block.parent_hash">{{ block.parent_hash }}</a> <span *ngIf="block && !block.parent_hash">Without parent block</span> <span *ngIf="!block">{{ loadingMsg }}</span> </div>
    <div class="-row"><span>Total Amount</span> {{ block ? (block.transactions | transactionsValue) + ' SKY' : loadingMsg }} </div>
  </div>

  <p *ngIf="!block">
    <span *ngIf="!longErrorMsg; else error_msg">
      Waiting for transactions <i class="fa fa-spinner fa-spin fa-fw"></i>
    </span>
    <ng-template #error_msg>{{ longErrorMsg }}</ng-template>
  </p>

  <div class="transactions" *ngIf="block && block.transactions.length >= 0">
    <div class="-header">
      <div class="row">
        <div class="col-sm-2">Transaction ID</div>
        <div class="col-sm-5">
          <div class="width-4-5 gutter-right">Inputs</div>
          <div class="width-1-5 gutter-left">Value</div>
        </div>
        <div class="col-sm-5">
          <div class="width-4-5 gutter-right">Outputs</div>
          <div class="width-1-5 gutter-left">Value</div>
        </div>
      </div>
    </div>
    <div class="-body">
      <div class="row" *ngFor="let transaction of block.transactions">
        <div class="col-sm-2 -primary">
          <a class="-cell" [routerLink]="'/app/transaction/' + transaction.id">
            {{ transaction.id }}
          </a>
        </div>
        <div class="col-sm-5">
          <div class="-row" *ngFor="let input of transaction.inputs">
            <div class="width-4-5 gutter-right">{{ input.hash }}</div>
            <div class="width-1-5 gutter-left">{{ input.coins }}</div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="-row" *ngFor="let output of transaction.outputs">
            <div class="width-4-5 gutter-right"><a [routerLink]="'/app/address/' + output.address">{{ output.address }}</a></div>
            <div class="width-1-5 gutter-left">{{ output.coins }}</div>
          </div>
      </div>
    </div>
  </div>
</div>
