@import '../../../../assets/scss/_variables.scss';

h2 {
  color: $primary;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.block-details {
  background-color: #F7F7F7;
  padding: 10px 20px 0;
  text-align: left;

  > .-row {
    border-bottom: 1px solid #EFF0F0;
    color: #1E2227;
    font-size: 12px;
    padding: 13px 0;
    line-height: 14px;

    &:last-child {
      border-bottom: none;
    }

    span:first-child {
      display: inline-block;
      opacity: 0.25;
      width: 100px;
    }

    .-link {
      color: $primary;
      cursor: pointer;
    }
  }
}

.transactions {
  background-color: #F7F7F7;
  margin-top: 30px;
  text-align: left;

  .row {
    margin-bottom: 0;
  }

  > .-header {
    border-bottom: 1px solid #EFF0F0;
    line-height: 14px;
    padding: 18px 20px;

    > .row {
      margin: 0 -7.5px;
      opacity: 0.25;
    }
  }

  > .-body {
    line-height: 21px;
    padding: 10px 20px;

    > .row {
      color: #1F2227;
      margin-bottom: 0;

      .-cell {
        margin: 10px 0;
        display: block;
      }

      .-row {
        border-bottom: 1px solid #EFF0F0;
        padding: 10px 0;

        &:last-child {
          border-bottom: none;
        }

        > div {
          vertical-align: top;

          a {
            color: $primary;
          }
        }
      }

      > .-primary {
        color: $primary;
      }
    }
  }

  .-no-padding {
    padding: 0;
  }

  .-no-margin {
    margin: 0;
  }
}

.width-1-5 {
  display: inline-block;
  width: 20%;
}

.width-4-5 {
  display: inline-block;
  width: 80%;
}
