@import '../../../../assets/scss/_variables.scss';

.general-container {
  margin: 4rem 0 2rem;
  position: relative;
  display: flex;

  .search-bar-container {
    flex-grow: 1;

    img {
      display: inline-block;
      height: 20px;
      margin: 11px;
      position: absolute;
    }

    i {
      margin: 13px 11px;
      position: absolute;
      font-size: 17px;
    }

    input {
      border: 2px solid rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      font-size: 12px;
      height: 42px;
      padding: 0 0 0 40px;
      width: 100%;

      &::placeholder {
        color: #cdcdcd;
      }
    }
  }
}